<!DOCTYPE html>
<html lang="en">
  <h1>TinyApp</h1>
  <body>
  <% if (user) { %>
    <h4>Email:  <%- user.email %>
      <form action = "/logout" method = "post">
          <input type="submit" name="logout" value="Logout" />
      </form>
    </h4>
  <% } else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% } %>
  </body>
</html>
