<!DOCTYPE html>
<html lang="en">
  <h1>TinyApp</h1>
  <body>
      <form action="/login" method="POST" style="margin2px;">
        <label for="username">Username:</label>
        <input id="email" type="text" name="email" >
         <label for="longURL">Password:</label>
        <input id="password" type="password" name="password" >
       <input type="submit" value="Login">
      </form>
  </body>
</html>
