<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/_header %>
</head>
<body>
  <table>
    <tr><th>Short URLs</th><th>URLs</th></tr>
    <tr><td><%= shortURL %></td><td><%= longURL %></td></tr>
</body>
</html>